body{
    background-color: aqua;
    
}

header{
    height: 110px;
    margin: 25px 138px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 80px;
    width: 80%;
 
}
.header-titulo{
    color: blue;
    display: inline;
    font-size: 50px;
    font-weight: bold;
    
}
    


.logo-header{
    width: 50px;
    margin-left: 1em;
}

.candado-header{
    
    width: 120px;
    
}


.container{
    background-color: aquamarine;
    width: 70%;
    margin: 0 200px;
    display: flex;
    height: 700px;
    
}



.input-content{
    margin: 40px;
    width: 50%;
    background-color: none;
}


#entrada-texto{
    width: 95%;
    background: none;
    border: none;
}

.output-content{
    margin: 40px;
    width: 50%;
    background-color: none;
}


footer{
    text-align: center;
    height: 110px;
    margin: -1px 146px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 80px;
    width: 82%;

}

